#div_main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}

.div_botao{
    display: flex;
    flex-direction: row;
    width: 38%;
    margin-bottom: 1%;
    border: 1px solid red;
    background-color: black;
}

.botao{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    border: 0px solid;
}

.botao:hover{
    background-color: white;
}
