#div_main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}

.div_botao{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-bottom: 1%;
}

.botao{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    border-radius: 5px;
    border: 0px solid;
    font-size: 16px;
    font-family: Inter;
    border: 2px solid rgb(228, 85, 228);
    background-color: white;
}



.resposta{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    border-radius: 5px;
    margin-top: 1%;
    
}

#div_faq{
    display:flex;
    flex-direction: column;
    width:70%;
    justify-content: center;
    align-items: center;
}
p{
    padding: 2%;
}


@media (max-width: 600px) {
    #div_faq{
        width: 100%;
    }

    .botao{
        width: 100%;
        font-size: 11px;
    }

    .div_botao{
        width: 80%;
    }

    #index{
        color: rgba(0, 0, 0, 0.519);
    }

    #chat{
        color: rgba(0, 0, 0, 0.519);
    }

    #form_head{
        font-size: 30px;
    }
    p{
        font-size: 13px;
    }
}