#div_main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}

.div_botao{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 1%;
}

.botao{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    background-color: rgba(233, 224, 252);
    border-radius: 5px;
    border: 0px solid;
    font-size: 16px;
    font-family: Inter;
}



.resposta{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#div_faq{
    display:flex;
    flex-direction: column;
    width:70%;
    justify-content: center;
    align-items: center;
}
