* {
    margin: 0;
}

html {
    height: 100%;
    
}

@font-face {
    font-family: 'Inter';
    src: url("/static/fonte/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

body {
    background: url("/static/img/MAOS_UNIAO.png") ;
    font-family: 'Inter';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #f0ebf0, rgb(255, 151, 250));
}

.telaCadastro {
    font-size: 15px;
    color:#4E2597;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
    padding-top: 5px;
}

.telaCadastro ul {
    list-style-type: none;
}

.telaCadastro li {
    margin: 20px;
}

.telaCadastro h3 {
    color: #000000;
    font-size: 35px;
}

.telaCadastro input {
    background-color: rgba(255, 255, 255, 0.50);
    width: 500px;
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
    border: solid #d1b7e5 1px;
}

.telaCadastro button {
    background-color: #4E2597;
    color: white;
    border: #4E2597 solid 1px;
    padding: 10px;
    border-radius: 6px;
    width: 130px;
    height: 50px;
    font-size: 20px;
}

.telaCadastro button:hover {
    background-color: rgba(255, 255, 255, 0);
    border: solid #4E2597 1px;
    color: #4E2597;
    padding: 10px;
    border-radius: 6px;
}

.divCadastro {
    margin: 50px;
    height: 760px;
}

.divCadastroGuard{
    margin: 20px;
    height: 760px;
}

.linha {
    background: rgb(57, 57, 57);
    width: 5px;
    height: 600px;
    margin-top: -130px;
}