<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/css_index/css_geral.css">
    <link rel="stylesheet" href="/static/css/css_index/style_faq.css">
</head>
<body>
    <div id="popupContainer">
        <div id="popupContent">
            <!-- Conteúdo do pop-up -->
            <h2>Atenção!</h2>
            <p>Deseja realmente acionar o guardião?</p>
            <div id="format">
                <form action="{% url 'inicio'%}" method="POST">{% csrf_token %}
                    <button type="submit" id="botao_confirmar">Confirmar</button>
                </form>
                <button  id="closePopup">Cancelar</button>
            </div>
        </div>
    </div>
    <head>
        <div id="div_head">
            <div id="form_head">
                <a href="{%url 'aila'%}">CHAT</a>
    
                <a href="{%url 'inicio'%}">INÍCIO</a>
                
                <a href="{%url 'faq'%}"><u>FAQ</u></a>
            </div>
            <hr>
        </div>
    </head>
        <div>
            <div id="div_main">
                <div id = "testeConteudo">
                    <img src="/static/img/img_bot/3288175e129d645503bd035585ebec44.png" alt="" class="imagens">
                </div>
                <div id="div_faq">
                    <div class="div_botao">
                        <button class="botao">
                            Você sabe o que é e como funciona a licença-maternidade?
                        </button>
                        <div class="resposta">
                            <p>
                                A licença-maternidade é um direito das trabalhadoras, que garante o afastamento do emprego, sem gerar prejuízo no seu salário. A licença-maternidade é concedida em virtude do nascimento ou adoção de um filho. <br><br>

                                Quem tem direito?<br><br>
                                
                                A licença-maternidade é direito concedido para as mulheres que contribuem com a Previdência Social (INSS).<br>
                                A trabalhadora deverá continuar recebendo seu salário no valor total durante o afastamento e essa ausência temporária não deve comprometer sua estabilidade no emprego.<br><br>
                                
                                Para acessar esse direito, a gestante deve apresentar atestado médico onde deve constar a data do início do afastamento. A licença-maternidade pode ser iniciada no dia do parto ou até mesmo 28 dias antes.<br><br>
                                
                                As leis trabalhistas garante licença-maternidade de 120 dias para empregada que der à luz, que adotarem um filho ou que  obtenha guarda judicial de criança ou adolescente. Apenas em casos em que a mulher sofra um aborto espontâneo, ou seja, aqueles que não foram provocados, e comprovados por meio de atestado médico é que as mulheres têm direito a repouso de 2 semanas sem gerar descontos de seu salário.<br><br>
                                
                                E para que fique bem claro e você não se confunda: licença-maternidade é o direito que a mulher tem de se afastar do emprego, devido ao nascimento ou adoção do filho, ou caso sofra um aborto espontâneo, lembrando que, nas duas primeiras situações o afastamento é de 120 dias, em caso de aborto não provocado, 2 semanas. Já o auxílio-maternidade ou salário-maternidade é referente ao direito da mulher continuar recebendo seu salário durante esse afastamento.<br><br>
                                
                                Os valores pagos durante o afastamento são realizados pelo INSS. Importante ressaltar que as mulheres podem entrar em férias logo após o fim da licença-maternidade.
                            </p>
                        </div>
                    </div>
                    <div class="div_botao">
                        <button class="botao">
                         Pergunta 2
                        </button>
                        <div class="resposta">
                            Resposta 2
                        </div>
                    </div>
                    <div class="div_botao">
                        <button class="botao">
                         Pergunta 3
                        </button>
                        <div class="resposta">
                            Resposta 3
                        </div>
                    </div>
                    <div class="div_botao">
                        <button class="botao">
                         Pergunta 4
                        </button>
                        <div class="resposta">
                            Resposta 4
                        </div>
                    </div>
                </div>
                </div>
            </div>
    <footer>
        <div>
            <div id="absolute">
                <div id="botoes-acao">
                    <img src="/static/img/img_bot/botao_guardiao 1.png" alt=""  class="bnt_gardiao" id="botao_guarda">
                </div>
              </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/script_faq.js"></script>
</body>
</html>