<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/css_index/css_geral.css">
    <link rel="stylesheet" href="/static/css/css_index/style_faq.css">
</head>
<body>
    <div id="popupContainer">
        <div id="popupContent">
            <!-- Conteúdo do pop-up -->
            <h2>Atenção!</h2>
            <p>Deseja realmente acionar o guardião?</p>
            <div id="format">
                <form action="{% url 'inicio'%}" method="POST">{% csrf_token %}
                    <button type="submit" id="botao_confirmar">Confirmar</button>
                </form>
                <button  id="closePopup">Cancelar</button>
            </div>
        </div>
    </div>
    <head>
        <div id="div_head">
            <div id="form_head">
                <a href="{%url 'aila'%}">CHAT</a>
    
                <a href="{%url 'inicio'%}">INÍCIO</a>
                
                <a href="{%url 'faq'%}"><u>FAQ</u></a>
            </div>
            <hr>
        </div>
    </head>
        <div>
            <div id="div_main">
                <div id = "testeConteudo">
                    <img src="/static/img/img_bot/3288175e129d645503bd035585ebec44.png" alt="" class="imagens">
                </div>
                <div class="div_botao">
                    <button class="botao" onmouseover="mudar_imagem()" onmouseleave="mudar_imagem_down()">
                        <img src="/static/img/img_bot/Polygon 2.0.png" class="imagem">
                    </button>
                </div>
                <div class="div_botao">
                    <button class="botao" onmouseover="mudar_imagem()" onmouseleave="mudar_imagem_down()">
                        <img src="/static/img/img_bot/Polygon 2.0.png" alt="" class="imagem">
                    </button>
                </div>
                <div class="div_botao">
                    <button class="botao" onmouseover="mudar_imagem()" onmouseleave="mudar_imagem_down()">
                        <img src="/static/img/img_bot/Polygon 2.0.png" alt="" class="imagem">
                    </button>
                </div>
                <div class="div_botao" onmouseover="mudar_imagem()" onmouseleave="mudar_imagem_down()">
                    <button class="botao">
                        <img src="/static/img/img_bot/Polygon 2.0.png" alt="" class="imagem">
                    </button>
                </div>
                </div>
            </div>
    <footer>
        <div>
            <div id="absolute">
                <div id="botoes-acao">
                    <img src="/static/img/img_bot/botao_guardiao 1.png" alt=""  class="bnt_gardiao" id="botao_guarda">
                </div>
              </div>
            <img src="/static/img/img_bot/Group 5.png" alt="" id="img_footer">
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/script_faq.js"></script>
</body>
</html>