<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/css_index/css_geral.css">
    <link rel="stylesheet" href="/static/css/css_index/css_index.css">
</head>
<body>
    <head>
        <div id="div_head">
            <div id="form_head">
                <a href="{%url 'aila'%}">CHAT</a>
    
                <a href="{%url 'inicio'%}"><u>INÍCIO</u></a>
                
                <a href="{%url 'faq'%}">FAQ</a>

                <a href="{%url 'localdefala'%}">FALA<</a>
            </div>
            <hr>
        </div>
    </head>
    <div>
        <div id="mainContentDiv">
            <div id = "testeConteudo">
                <img src="/static/img/img_bot/3288175e129d645503bd035585ebec44.png" alt="" class="imagens">
                <img src="/static/img/img_bot/image 3.png" alt="" class="imagens">
                <br>
            </div>
        </div>
        <div id="div_conteudo">
            <div id="format_div_conteudo">
                <br>
                <br>
                <hr id="hr">
                <br>
                <h2>AS FASES DA DENUNCIA</h2>
                <p>    A vida a dois é para ser vivida em sua plenitude, com alegria, com amor, com carinho e afeto mútuos. Se esta realidade faz parte da sua vida, que bom. Você é uma mulher feliz!<br>
                    Porém, nem todas as mulheres têm a mesma sorte, por isso, com base nesta triste realidade, que estas palavras foram trazidas, e que elas sirvam de orientação, para todas as mulheres que vivam esta situação. A Lei Maria da Penha no seu artigo 7°, nos dar uma ideia sobre cinco formas do  ciclo da Violência Doméstica, são elas :
                </p><br>
                <p> <i>“Art. 7º São formas de violência doméstica e familiar contra a mulher, entre outras: <br><br>
                    I - a <strong>violência física</strong>, entendida como qualquer conduta que ofenda sua integridade ou saúde corporal; <br><br>
                   II - a <strong>violência psicológica</strong>, entendida como qualquer conduta que lhe cause dano emocional e diminuição da autoestima ou que lhe prejudique e perturbe o pleno desenvolvimento ou que vise degradar ou controlar suas ações, comportamentos, crenças e decisões, mediante ameaça, constrangimento, humilhação, manipulação, isolamento, vigilância constante, perseguição contumaz, insulto, chantagem, violação de sua intimidade, ridicularização, exploração e limitação do direito de ir e vir ou qualquer outro meio que lhe cause prejuízo à saúde psicológica e à autodeterminação; (Redação dada pela Lei nº 13.772, de 2018)<br><br>
                   III - a <strong>violência sexual</strong>, entendida como qualquer conduta que a constranja a presenciar, a manter ou a participar de relação sexual não desejada, mediante intimidação, ameaça, coação ou uso da força; que a induza a comercializar ou a utilizar, de qualquer modo, a sua sexualidade, que a impeça de usar qualquer método contraceptivo ou que a force ao matrimônio, à gravidez, ao aborto ou à prostituição, mediante coação, chantagem, suborno ou manipulação; ou que limite ou anule o exercício de seus direitos sexuais e reprodutivos;<br><br>
                    IV - a <strong>violência patrimonial</strong>, entendida como qualquer conduta que configure retenção, subtração, destruição parcial ou total de seus objetos, instrumentos de trabalho, documentos pessoais, bens, valores e direitos ou recursos econômicos, incluindo os destinados a satisfazer suas necessidades;<br><br>
                   V - a <strong>violência moral</strong>, entendida como qualquer conduta que configure calúnia, difamação ou injúria.”</i><br>
                         
                         </p>
                
                         <p>Levando em consideração a forma como a Lei define o ciclo da Violência Doméstica, vamos nos aprofundar ainda mais no campo da relação no seio familiar, abordando quatro fases, que caracterizam este ciclo nefasto, são elas : <br><br>
                <strog><i>1ª fase</i></strog> :  Desentendimentos entre agressor e a vítima, resultando humilhações, intimidações e provocações mútuas; <br><br>
                <strog><i>2ª fase</i></strog>: Chantagens, pressões psicológicas, e ameaças, como separação, requerimento da guarda dos filhos como forma de afastamento e ruptura familiar; <br><br>
                <strog><i>3ª fase</i></strog>: Agressões físicas, podendo variar em leve, grave, gravíssima e até mesmo tentativa de homicídio;<br><br>
                <strog><i>4ª fase</i></strog>: Por fim, a fase do “arrependimento”, quando o agressor faz promessas de mudanças, pedindo a reconciliação, o que faz com que o casal passe por uma “nova lua de mel”.<br><br>
                        Ao final desse ciclo, dificilmente as mudanças (para melhor) de fato ocorrem, mas sim um novo ciclo é reiniciado e de forma mais gravosa para a vítima.<br>
                        </p>
                        <p>
                Portanto, se você está passando por algumas dessas situações, e mais, que a <strong>violência doméstica contra mulher</strong> não tem cara, idade, raça, condição social ou financeira. Procure ajuda. Principalmente as mais vulneráveis, que diante do cenário de pobreza, mais se evidenciam estas ocorrências. A dependência financeira dos seus parceiros, é um fator preponderante para a motivação da permanência, nessa vida hostil, como também a chantagem envolvendo os filhos menores, perfazendo um ciclo de dependência psicológica. <br><br>
                Nesse <strong>ciclo de violência doméstica</strong>, medo de represálias, perda de suporte financeiro, preocupações com os filhos, dependência emocional e financeira, perda de suporte da família e dos amigos, a esperança de que seu agressor mudará um dia, tornando-se um parceiro mais humano, tudo isso são motivos alegados pelas vítimas para continuar o relacionamento. Em contrapartida, ao se calarem, ao aceitarem essa vida abusiva, estas mulheres caminham para as estatísticas de homicídios intrafamiliar, permitindo ainda que seus algozes continuem "protegidos".<br><br>
                Essas são informações valiosíssimas no caminho da sua conscientização, para que mais mulheres consigam enxergar as situações de relacionamentos abusivos e tenham força e voz para se pronunciar. <br><br>
                Procurando ajuda nos diversos órgãos de Proteção a Mulher, existentes nas principais cidades. Por isso, dê seu passo denunciando :  Primeiramente, A Polícia Militar ( número 190 ), para as localidades que não possuam um serviço especializado nesta área; Central Nacional de Atendimento à Mulher ( número 180 ), que fará os devidos encaminhamentos e orientações; pode procurar também o DEAM ( Delegacia da Mulher ) e algumas cidades maiores também possuem o CRAM ( Centro de Referência e Atendimento a Mulher ). Todo este esforço multidisciplinar, tem como objetivo ajudar todas as mulheres que estão na busca pela ruptura desse <strong>ciclo de violência aparentemente sem fim.</strong><br><br>
                
                Por tudo isso, Denuncie. <strong>NÃO SE CALE!</strong>
                
                </p><br>
                <div id="format_img"><img src="/static/img/nao_se_cale.jpg"  id="img_nao_se_cale" alt=""></div>
            </div>
        </div>
    </div>
    <script src="/static/js/script_index.js"></script>
</body>
</html>