@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('/static/css/reset.css');
:root {
    --font-inter: 'Inter', sans-serif;
    --lilas: #4E2597;
}

@font-face {
    font-family: 'Inter';
    src: url("/static/fonte/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

.body__tema {
    font-family: Inter;
    background-image: url("/static/img/MAOS_UNIAO.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    font-size: 2em;
    font-weight: 500;
}

.secao__input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.75em;
}

.container__input {
    position: relative;
    display: inline-block;
    border-radius: 0.5em;
}

.secao__submit {
    width: 7em;   
    height: 2em;
    border: 0;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: var(--lilas);
}

.secao__submit:hover {
    background-color: #3b1b72;
}

.secao__submit:active {
    background-color: #561abd;
}

.logo__dmm {
    height: 1em;
}

a {
    color: black;
}

a:active {
    color: #561abd;
}

.rodape__cadastro {
    max-width: 90%; /* Largura máxima do conteúdo do rodapé */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    text-align: end;
    
}

.logo__dmm {
    height: 1em;
}

a {
    color: black;
}

a:active {
    color: #561abd;
}

footer {
    position: fixed;
    background-color: #333;
    bottom: 0;
    width: 100%;
    padding: 1em 0; /* Centraliza o conteúdo horizontalmente */
}

@media screen and (max-width: 915px) {
    .secao__login__informacoes {
        padding: 0; /* Adicione algum espaçamento para separar os elementos internos */
        box-sizing: border-box; /* Para incluir o padding no tamanho total */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; /* Centralizar o conteúdo horizontalmente */
        gap: 2em;
        margin: 4.5em 0 3em;
    }

    .secao__titulo {
        margin: 0.5em 0 1em;
    }

    .secao__login {
        display: flex;
        flex-direction: initial;
       overflow-x: hidden;
    }
    #img{
        display: none;
    }

    .secao__login__wallpaper {
        display: none;
    }

    .imagem__celular{
        display: flex;
        height: 10em;
        gap: 0;
        margin: 0;
    }

    #input__email, #input__pass {
        padding: 0 45px;
        height: 2.5em;
        width: 15em;
        border-radius: 5px;
        border: 0.1px solid #000;
    }
    

}

@media screen and (max-width: 915px) {
    #input__email, #input__pass {
        padding: 0 45px;
        height: 2.5em;
        width: 10em;
        border-radius: 5px;
        border: 0.1px solid #000;
    }

    .secao__login__informacoes {
        padding: 0; /* Adicione algum espaçamento para separar os elementos internos */
        box-sizing: border-box; /* Para incluir o padding no tamanho total */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; /* Centralizar o conteúdo horizontalmente */
        gap: 0.5em;
        margin: 7em 0 3em;
    }
}
