@import url("/static/css/style_login.css");

@font-face {
    font-family: 'Inter';
    src: url('/static/fonte/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

body {
    overflow: hidden;
}

.secao__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
}

.secao__login__walpaper {
    flex: 1; /* A imagem ocupa todo o espaço disponível no lado esquerdo */
}

.secao__login__walpaper img {
    margin-top: 37px;
    height: 101vh;
}

.secao__input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.75em;
}

.container__input {
    position: relative;
    display: inline-block;
    border-radius: 0.5em;
}

.secao__login__informacoes {
    padding: 20px; /* Adicione algum espaçamento para separar os elementos internos */
    box-sizing: border-box; /* Para incluir o padding no tamanho total */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centralizar o conteúdo horizontalmente */
    gap: 2em;
    font-family: Inter;
}

.imagem__celular {
    display: none;
}

.secao__titulo {
    font-size: 2em;
    font-weight: 500;
}

.fa-solid  {
    color: #fff;
}

#input__email, #input__pass {
    padding: 0 45px;
    height: 2.5em;
    width: 20em;
    border-radius: 5px;
    border: 0.1px solid #000;
}

.secao__input__icon {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--lilas);
    height: 100%;
    width: 10%;
    border-radius: 5px 0 0 5px;
}

.icon {
    height: 15px;
    margin: 0.5em;
}

.secao__descricao {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 70%;
}

.secao__titulo__descricao {
    font-size: 2.5em;
    font-weight: 600;
}

.secao__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8em;
    font-size: 0.8em;
    margin: 1em 0;
}

footer {
    position: fixed;
    background-color: #333;
    bottom: 0;
    width: 100%;
    padding: 1em 0; /* Centraliza o conteúdo horizontalmente */
}


@media screen and (max-width: 915px) {
    .secao__login__informacoes {
        padding: 0; /* Adicione algum espaçamento para separar os elementos internos */
        box-sizing: border-box; /* Para incluir o padding no tamanho total */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; /* Centralizar o conteúdo horizontalmente */
        gap: 2em;
        margin: 4.5em 0 3em;
    }

    .secao__titulo {
        margin: 0.5em 0 1em;
    }

    .secao__login {
        display: flex;
        flex-direction: initial;
        overflow-x: hidden;
    }

    .secao__login__wallpaper {
        display: none;
    }

    .imagem__celular{
        display: flex;
        height: 10em;
        gap: 0;
        margin: 0;
    }

    #input__email, #input__pass {
        padding: 0 45px;
        height: 2.5em;
        width: 15em;
        border-radius: 5px;
        border: 0.1px solid #000;
    }
    

}

@media screen and (max-width: 915px) {
    #input__email, #input__pass {
        padding: 0 45px;
        height: 2.5em;
        width: 10em;
        border-radius: 5px;
        border: 0.1px solid #000;
    }

    .secao__login__informacoes {
        padding: 0; /* Adicione algum espaçamento para separar os elementos internos */
        box-sizing: border-box; /* Para incluir o padding no tamanho total */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; /* Centralizar o conteúdo horizontalmente */
        gap: 0.5em;
        margin: 7em 0 3em;
    }
}
