body {
    font-family: var(--font-inter);
}

.secao__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.secao__login__walpaper {
    flex: 1; /* A imagem ocupa todo o espaço disponível no lado esquerdo */
}

.secao__login__walpaper img {
    height: 105vh;
    margin-top: 70px;
}

.secao__login__informacoes {
    padding: 20px; /* Adicione algum espaçamento para separar os elementos internos */
    box-sizing: border-box; /* Para incluir o padding no tamanho total */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Centralizar o conteúdo horizontalmente */
    gap: 3em;
}

.secao__titulo {
    font-size: 2em;
    font-weight: 500;
}

.secao__input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.75em;
    align-items: flex-end;
}

.container__input {
    position: relative;
    display: inline-block;
    border-radius: 0.5em;
}

.secao__input__icon {
    display: flex;
    position: absolute;
    align-items: flex-start;
    background-color: #3b1b72;
    height: 100%;
    width: 10%;
    border-radius: 5px 0 0 5px;
}

.icon {
    height: 15px;
    margin: 0.5em;
}

#input__email, #input__pass {
    padding: 0 35px;
    height: 2.2em;
    width: 18em;
    border-radius: 5px;
    border: 0.1px solid #000;
}

.secao__submit {
    width: 6.8em;   
    height: 2em;
    border: 0;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #3b1b72;
}

.secao__submit:hover {
    background-color: #3b1b72;
}

.secao__submit:active {
    background-color: #561abd;
}

.secao__descricao {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 70%;
}

.secao__titulo__descricao {
    font-size: 2.5em;
    font-weight: 600;
}

.rodape {
    position: relative;
    background-color: #333;
    color: white;   
    text-align: center;
    padding: 10px;
}
