<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/acessos.css">
    <title>Acesso Negado</title>
</head>
<body class="body__tema">
    <section class="secao__acesso_negado">
            <img src="/static/img/cadeado2 2.png" class="img__deslike" alt="deslike">
            <h2 class="secao__acesso title">Redefinição feita com sucesso!</h2>
            <div class="secao__acesso__opcoes">
                <a href="{% url 'login' %}">Log in</a>
            </div>
    </section>
</body>
</html>