<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/acessos.css">
    <title>Acesso Negado</title>
</head>
<body class="body__tema">
    <section class="secao__acesso_negado">
            <img src="assets/img/maonegativo.svg" class="img__deslike" alt="deslike">
            <h2 class="secao__acesso title">Você não pode acessar essa página!</h2>
            <p class="secao__acesso aviso">Por favor, faça login ou cadastre-se aqui:</p>
            <div class="secao__acesso__opcoes">
                <a href="#" id="secao__acess_link">Já possuo uma conta</a>
                <button class="secao__submit">
                    Cadastra-se
                </button>
            </div>
    </section>
    <footer>
        <div class="rodape__cadastro">
            <img src="./assets/img/DMM.svg" alt="logo dmm" class="logo__dmm">
        </div>
    </footer>
</body>
</html>