<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/acessos.css">
    <title>Redefinir senha</title>
</head>
<body>
    <body class="body__tema">
    <section class="secao__acesso_negado">
            <img src="/static/img/cadeado2 2.png" class="img__deslike" alt="deslike">
            <h5>Nós te enviamos um email com instruções para configurar sua senha no email fornecido. Você receberá a<br> mensagem em breve. Se você não recebeu um email, por favor certifique-se que você <br>forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</h5>
    </section>
</body>
</body>
</html>