<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link rel="stylesheet" href="/static/css/registroStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class = "telaCadastro">
            <div class="divCadastro">
                <form action="{% url 'cadastrar' %}" method="POST">{% csrf_token %}
                    <ul>
                        <li><h3>Dados para Cadastro</h3></li>
                        <li>
                            <b>Nome:</b>
                            <br>
                            <input type = "text" id="nomeUser"  name= "nome">
                        </li>
                        <li>
                            <b>E-mail:</b>
                            <br>
                            <input type="email" id = "emailUser" name="email">
                        </li>
                        <li>
                            <b>Senha:</b>
                            <br>
                            <input type="password" id = "passUser" name="senha">
                        </li>
                        <li>
                            <b>Endereço:</b>
                            <br>
                            <input type="text" id = "andressUser" name="endereco">
                        </li>
                        <li>
                            <b>Bairro</b>
                            <br>
                            <input type="text" id = "bairroUser" name="bairro">
                        </li>
                        <li>
                            <b>Telefone:</b>
                            <br>
                            <input type="tel" id = "telUSer" name="telefone" placeholder="(12) 34567-8910" oninput="formatPhoneNumber(this)">
                        </li>
                        <li>
                            <b>Número do Prcesso: (opcional) </b>
                            <br>
                            <input type="number" class="regSocNum" name="numero_processo"  oninput="formatPhoneNumber(this)">
                        </li>
                    </ul>
                                </div>
                                <div class = "linha"></div>
                                <div class="divCadastroGuard">
                    <ul>
                        <li><h3>Dados do Guardião</h3></li>
                        <li>
                            <b>Nome: </b>
                            <br>
                            <input type="text" class="regSocN" name="nome_guardiao">
                        </li>
                        <li>
                            <b>E-mail: </b>
                            <br>
                            <input type="email" class="regSocEmail" name="email_guardiao">
                        </li>
                        <li>
                            <b>Telefone: </b>
                            <br>
                            <input type="tel" class="regSocTel" name="telefone_guardiao" placeholder="(12) 34567-8910" oninput="formatPhoneNumber(this)">
                        </li>
                        <li class = "liButton">
                            <button class = "buttonRegister" type="submit">Cadastrar</button>
                        </li>
                    </ul>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{message.tags}}">{{message}}</div>
                    {% endfor %}
                {%endif%} 
            </div>   
        </div>
    </main>
    <footer class = "rodape">
    </footer>
    <script>
        function formatPhoneNumber(input) {
        // Remove todos os caracteres não numéricos do valor atual
        const phoneNumber = input.value.replace(/\D/g, '');

        // Verifique se o número é suficientemente longo para ser formatado
        if (phoneNumber.length >= 10) {
            // Formate o número com parênteses, traços e espaços
            const formattedNumber = `(${phoneNumber.slice(0, 2)}) ${phoneNumber.slice(2, 6)}-${phoneNumber.slice(6, 11)}`;
            input.value = formattedNumber;
        }
    }
</script>
</body>
</html>